<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>FY_Sitemap</id>
<name>SitemapXML生成器高级版</name>
<url>http://www.fengyan.cc/</url>
<note></note>
<description></description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>烽烟无限</name>
  <email>744355891@qq.com</email>
  <url>http://www.fengyan.cc/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>150101</adapted>
<version>1.1</version>
<pubdate>2016-01-10</pubdate>
<modified>2016-12-09</modified>
<price>0</price>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>